body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6;
}

h1 {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}

h2 {
    color: #333;
}

p {
    margin-bottom: 1.5em;
}

ol {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 0.5em;
}

a {
    text-decoration: none;
    color: #007bff;
    transition: color 0.3s ease;
}

a:hover {
    color: #0056b3;
}

code {
    background-color: #f8f9fa;
    padding: 0.2em 0.4em;
    border-radius: 4px;
    font-family: 'Courier New', Courier, monospace;
}

/* Responsividade */
@media only screen and (max-width: 600px) {
    h1 {
        font-size: 1.5em;
    }
}